* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type:none;
}

header nav ul li {
    display:inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1F76A4;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.article-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.article-content img {
    max-height: 200px;
}

.article-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 28px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 30px;
}

/* Removed "." in front of header in lines 11, 18, 23, 27, 35, 39. */
/* Renamed line 72 and 78 to match the appropriate semantics in HTML; from ".content" & ".benefits" to "main" & "aside" respectively */
/* Changed line 86 background-color from #2589bd to #1F76A4 to provide more contrast for accessiblity purposes */
/* Consolidated lines 89-102 by grouping them into one class and renaming the class to ".benefit" */
/* Consolidated lines 104-117 by grouping them into one class and renaming the class to ".benefit h3" */
/* Consolidated lines 119-135 by grouping them into one class and renaming the class to ".benefit img" */
/* Consolidated lines 137-162 by grouping them into one class and rennaming the class to ".article-content" */
/* Consoldiated lines 164-174 by grouping them into one class and renaming the class to ".article-content img" */
/* Consolidated lines 181-189 by grouping them into one class and renaimng the class to ".article-content h2" */
/* Removed "." in front of footer in lines 123 and 130 */
/* Renamed line 130 from ".fotter h2" to "footer h4" to match the appropriate semantics in HTML */